
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-fundo: #ffffff;
    --cor-fundo2: #f8f8f8;
    --cor-borda: grey;
    --cor-borda-botao: #FFA500;
    --cor-letra: #252525;
    --cor-detalhe: #4A6F8A;
    --cor-strong: #426a86;
    --cor-hover: #eedfbe;
    --cor-fonte-menu: #0c151b;
    min-width: 600px;

    padding: 0% 0% 0% 0%;
    scroll-behavior: smooth;
}



.strong {
    color: var(--cor-strong);
}

.bodystyle { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0% 0% 0% 0%;
    font-family: 'Noto Sans', serif;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), 60%, rgba(209, 205, 205, 0.4)), url('/images/pexels-paulofreitas-14864729.jpg');
    background-attachment: scroll;
    background-size: contain;
    color: var(--cor-letra);
    border: none;

}

.headerstyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #13131341;
    height: 120px;
    width: 90%;
    max-width: 100%;
    padding: 0% 5% 0% 5%;
    gap: 0%;
}


.navmenu {
    float: right;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 5px;
    height: 4.0rem;
    align-items: center;
    justify-content: space-around;
    max-width: 600px;
}
.logo_sibtech {
    Padding: 0;
}
.item {
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    padding: 0.6rem;
    width: 10rem;
}
.item:hover {
    background-color: rgba(65, 196, 60, 0.205);
    border-radius: 1rem;
    font-weight: 600;
}
.item:active {
    border-bottom: 2px solid rgb(0, 255, 34);
}




.mainclass {
    display: flex;
    flex-direction: column;
    padding: 0%;
    align-items: left;
    justify-content: center;
    text-align: center;
    width: 100%;
}



.div_btns {
    display: inline-flex;
    justify-content: start;
    gap: 5%;
}
.cta_btn_secundario {
    background-color: rgba(65, 196, 60, 0.205);
    width: 18rem;
    text-align: center;
    color: whitesmoke;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 0 1rem 0;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.788);
    border: rgb(44, 95, 42) solid 2px;
}
.cta_btn_secundario:hover {
    background-color: rgba(82, 133, 80, 0.534);
}



.section_hero {
    display: flex;
    flex-direction: row;
    padding: 8% 5% 8% 5%;
    align-items: center;
    text-align: center;
    justify-content: space-between;  
    color: var(--cor-fundo2);
    height: 450px;
    border-bottom: 2px solid #464646;
}
.div_section_hero {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 50%;
    height: 100%;
}
.div_section_hero_titulo {
    display: flex;
    font-size: 3.5rem;
    letter-spacing: 6px;
    font-weight: 700;
    line-height: 1.4;
    text-align: left;
    margin: 0px 0px 2rem 0px;
}
.div_section_hero_h1 {
    font-size: 1.4rem;
    line-height: 1.8;
    font-weight: 400;
    text-align: left;
    margin: 0px 0px 2rem 0px;
    letter-spacing: 1px;
}





.solucoes, .setores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: #ffffff;
    height: 600px;
    border-bottom: 2px solid #464646;
    gap: 5%;
}
.h2_solucoes, .h2_setores {
    font-size: 2.074rem;
    color: #464646;
    text-align: left;
    padding: 0 0 0 5%;
}
.para_quem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5%;
    row-gap: 5%;
    justify-content: center;
    padding: 0 0 5% 0;
    color: whitesmoke;
}
.card {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    justify-content: left;
    border: 0px solid #000000;
    border-radius: 5px;
    background-color: #548652ab;
    margin: 1rem;
}
.p_padding {
    padding: 0 0 0 10%;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.card_foto {
    height: auto;
    width: 220px;
}






.section_sobre {
    display: flex;
    margin: 0%;
    border: 0%;
    padding: 5%;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    color: whitesmoke;
    height: 500px;
    width: auto;
    gap: 5%;
    border-bottom: 2px solid #464646;
}
.div_section_sobre_conteudo {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.div_section_sobre_conteudo__titulo {
    font-size: 3rem;
    margin: 0rem;
}
.div_section_sobre_conteudo__h2 {
    line-height: 1.6;
    font-size: 2.074rem;
}
.div_section_sobre_conteudo__h3 {
    line-height: 3rem;
    font-weight: 400;
    font-size: 1.44rem;
}




.section_economiacircular {
    display: flex;
    margin: 0%;
    border: 0%;
    padding: 5%;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    color: whitesmoke;
    height: 500px;
    width: auto;
    gap: 5%;
    border-bottom: 2px solid #464646;
}
.div_section_circular_conteudo {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.div_section_circular_conteudo__titulo {
    font-size: 3rem;
    margin: 0rem;
}
.div_section_circular_conteudo__h2 {
    line-height: 1.6;
    font-size: 2.074rem;
}
.div_section_circular_conteudo__h3 {
    line-height: 3rem;
    font-weight: 400;
    font-size: 1.44rem;
}





.ecossistema {
    border-bottom: 2px solid #464646;
    height: 800px;
    background-color: #1a1a1a62;
}
.h2_ecossistema {
    font-size: 2.074rem;
    color: whitesmoke;
    text-align: left;
    padding: 5% 0 0 5%;
}
.div_ecossistema {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5%;
    justify-content: center;
    padding: 5% 0 5% 0;
    width: 100%;
    color: #000000;
}
.card_branco {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 0px solid #000000;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 6px 5px 10px #70777c;
    font-size: 1.2rem;
    width: 20rem;
    margin: 1rem;
}
.a_card {
    display: flex;
    justify-content: center;
}
.card_logo {
    display: flex;
    height: auto;
    width: 220px;
    justify-content: center;
    text-align: center;
}









.social_media_links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    align-items: center;
    color: whitesmoke; 

    width: 100%;
    height: 700px;
    letter-spacing: 1px;
    border-bottom: 2px solid #464646;

}
.h2_sm {
    text-align: left;
    font-size: 2.074rem;
    width: 95%;
    padding: 5% 0 2% 5%;
}
.div_sm {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 90%;
    padding: 0 0 0 10%;
}

.p_sm_links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
    width: 100%;
    font-size: 1.2rem;
}
.a_sm_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.add_sm_links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 90px;
    font-size: 1.2rem;
    gap: 20px;
}
.sm_icons {
    height: 25px;
    width: 25px;
}



.footer_display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    align-items: center;
    color: #70777c;
    background-color: #131313;
    width: 100%;
    height: 150px;
    padding: 0;

}
.footer_legal {
    margin: 0;
    padding: 0;
    line-height: 3rem;
    width: 50%;
    text-align: left;
}


@media (max-width: 1500px) {

    .div_section_hero {
        width: 80%;
    }
}
@media (max-width: 1400px) {

    .div_section_hero {
        width: 100%;
    }
    .solucoes, .setores {
        height: 750px;
    }
    .div_section_sobre_conteudo {
        width: 100%;
    }
    .div_section_circular_conteudo {
        width: 100%;
        height: 550px;
    }
    .ecossistema {
        height: 900px;
    }
}
@media (max-width: 1300px) {
    .div_section_hero {
        height: 460px;
    }
    .div_section_hero_titulo {
        font-size: 3rem;
    }
}

@media (max-width: 1100px) {
    .headerstyle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 10rem;
        width: 90%;
        padding: 0% 5% 0% 5%;
        gap: 0%;
    }
    .navmenu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        gap: 5px;
        height: 10rem;
    }
    .item {
        text-decoration: none;
        text-align: center;
        color: whitesmoke;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.6rem;
        width: 8rem;
    }
    
    .div_section_hero {
        height: 460px;
    }
    .div_section_hero_titulo {
        font-size: 2.5rem;
        margin: 0 0 1rem 0;
    }
    .div_section_hero_h1 {
        margin: 0 0 1rem 0;
    }

}


@media (max-width: 800px) {

:root {
    min-width: 360px;
}


.bodystyle { 
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', serif;
    color: var(--cor-letra);
    border: none;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: 100%;
}

.headerstyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 90%;
    padding: 0% 5% 0% 5%;
    gap: 0%;
}
.navmenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    gap: 5px;
    height: 10rem;
}
.logo_sibtech {
    padding: 0;
    width: 150px;
}
.item {
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.6rem;
    width: 8rem;
}









.mainclass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: center;
    padding: 0%;
    width: 100%;
}




.div_btns {
    display: inline-flex;
    justify-content: start;
    gap: 5%;
}

.cta_btn_secundario {
    background-color: rgba(65, 196, 60, 0.205);
    width: 13rem;
    text-align: center;
    color: whitesmoke;
    border-radius: 1rem;
    font-size: 1.0rem;
    font-weight: 500;
    padding: 1rem;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.637);
    border: rgb(105, 199, 102) solid 1px;
}
.cta_btn_principal:hover {
    background-color: rgb(132, 238, 129);
}
.cta_btn_secundario:hover {
    background-color: rgb(132, 238, 129);
}



.section_hero {
    display: flex;
    flex-direction: row;
    padding: 15% 5% 15% 5%;
    align-items: center;
    text-align: center;
    justify-content: space-between;  
    color: var(--cor-fundo2);
    height: 350px;
    background-image: none;
}
.div_section_hero {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    height: 100%;
}
.div_section_hero_titulo {
    display: flex;
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: 700;
    line-height: 1.4;
    text-align: left;
    margin: 0px 0px 1rem 0px;
}
.div_section_hero_h1 {
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1.8;
    text-align: left;
    margin: 0px 0px 1rem 0px;

}





.solucoes, .setores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    padding: 10% 5% 5% 5%;

}
.h2_solucoes, .h2_setores {
    font-size: 1.4rem;
    background-color: none;
    color: #464646;
    text-align: left;
    padding: 0 0 0 0;
    margin: 0;
}
.para_quem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    color: whitesmoke;

}
.card {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    height: 245px;
}
.p_padding {
    padding: 0 0 0 10%;
    font-size: 1rem;
    letter-spacing: 2px;
}
.card_foto {
    height: auto;
    width: 280px;
}






.section_sobre {
    display: flex;
    margin: 0%;
    border: 0%;
    padding: 15% 5%;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    color: whitesmoke;
    height: 500px;
    width: auto;
    gap: 5%;

}
.div_section_sobre_conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.div_section_sobre_conteudo__h2 {
    font-size: 1.4rem;
    line-height: 1.6;
}
.div_section_sobre_conteudo__h3 {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8rem;
}







.ecossistema {
    border-bottom: 2px solid #464646;
    height: 1600px;
    padding: 15% 2%;
}
.h2_ecossistema {
    font-size: 1.8rem;
    color: whitesmoke;
    text-align: left;
    padding: 0 0 2rem 0;
    margin: 0;
}
.div_ecossistema {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    color: #000000;
    padding: 0;
}
.card_branco {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    border: 0px solid #000000;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 6px 5px 10px #70777c;
    font-size: 1.2rem;
    height: 400px;
}
.a_card {
    display: flex;
    justify-content: center;
}
.card_logo {
    display: flex;
    height: auto;
    width: 200px;
    justify-content: center;
    text-align: center;
}





.section_economiacircular {
    display: flex;
    margin: 0%;
    border: 0%;
    padding: 15% 5%;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    color: whitesmoke;
    height: 500px;
    width: auto;
    gap: 5%;
    background-image: none;

}
.div_section_circular_conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 450px;
}
.div_section_circular_conteudo__h2 {
    font-size: 1.4rem;
    line-height: 1.6;
}
.div_section_circular_conteudo__h3 {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8rem;
}







.social_media_links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    align-items: center;
    color: whitesmoke; 

    width: 100%;
    height: 600px;
    border-bottom: 2px solid #464646;

}
.h2_sm {
    text-align: left;
    font-size: 1.8rem;
    width: 95%;
    padding: 5% 0 2% 5%;
}
.div_sm {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 90%;
    padding: 0 0 0 10%;
}

.p_sm_links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
    width: 100%;
    font-size: 0.8rem;
}
.a_sm_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    border-radius: 5px;

}
.add_sm_links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 90px;
    font-size: 0.8rem;
    gap: 20px;
}
.sm_icons {
    height: 25px;
    width: 25px;
}



.footer_display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    color: #70777c;
    background-color: #131313;
    width: 100%;
    height: 300px;
    padding: 5%;
}
.footer_legal {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    line-height: 1rem;
    width: 90%;
    text-align: left;
}
.footer_cnpj {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    line-height: 2rem;
    width: 90%;
    text-align: left;
}


}